{% extends 'base.html' %}


{% block content %}
  <div class="d-flex flex-column align-items-center">
    <h5 class="fw-bold">Title: {{product.title}}</h5>
    <p class="fs-5 text-muted card-text">Price:<span class="badge bg-success">{{product.price}}AFN</span></p>
    <p class="text-muted card-text">Is published:<strong> {{product.is_published}}</strong></p>
    <p class=" text-muted card-text">Created At:<strong>{{product.created_date}}</strong> </p>
    <p class="text-muted card-text">Updated At:<strong>{{product.updated_date}}</strong></p>
  </div>
{% endblock content %}
